---
---

@import "{{ site.theme }}";
a {
    padding-left: 8px !important;
}

.btn {
    background-color: #4CAF50 !important; /* Green */
    border: none;
    color: white;
    text-align: center !important;
    width: 200px;
    height: 80px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin-right: 16px;
}