---
---

@import "{{ site.theme }}";
a {
    padding-left: 8px !important;
}

.btn1 {
    background-color: #4CAF50 !important; /* Green */
    border: none;
    color: white;
    text-align: center !important;
    width: 400px;
    height: 240px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin-right: 16px;
    padding-top: 8px;
}

.btn2 {
    background-color: #4CAF50 !important; /* Green */
    border: none;
    color: white;
    text-align: center !important;
    width: 400px;
    height: 240px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin-right: 16px;
    padding-top: 8px;
}