<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<title>{{page.title}}</title>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: a }} by {{ site.github.owner_name }}</title>
	<meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link rel="icon" href="/flower.png" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">
	<iframe width="1600" height="760" src="https://app.powerbi.com/reportEmbed?reportId=9c41e147-bce7-40ba-9009-c403f2278439&autoAuth=true&ctid=8b86a65e-3c3a-4406-8ac3-19a6b5cc52bc&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
      </h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    </section>

    <section class="main-content">
      {{ content }}

    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
  </body>	      
</html>
