<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	<title>{{page.title}}</title>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: a }} by {{ site.github.owner_name }}</title>
	<meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link rel="icon" href="/flower3.png" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<ul>
	  <a href="/">Home</a>
	  <a href="/about">About</a>
	  <a href="/projects">Projects</a>
	</ul>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Bringing Impact Into The Universe</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    </section>

    <section class="main-content">
      {{ content }}

    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
  </body>	      
	<footer class="main-content site-footer">
		<center>
			<span  class="site-footer-credits" style="font-size:100%; position: relative; width: 100%">
				Copyright © 2019 by Rizky Faramita.
			</span>
		</center>
	</footer>
</html>
